@use "./../base/reset";
@use "./../library/mixins" as m;


header {
    display: flex;
    position: relative;
    align-items: center;
    height: 100vh;
    background-image: url("../assets/negative-space-black-forest-dawn.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .headerTitle{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        align-items: center;
        & h1 {
            height: 90px;
            text-align: center;
            font-size: 32px;
            word-spacing: 2px;
            font-weight: 700;
        }
        & h2 {
            height: 90px;
            text-align: center;
            font-size: 22px;
            letter-spacing: 1px;
            word-spacing: 2px;
            width: 80%;
            
        }
        .headerTitle__rowThree{
            width: 70%;
        }
    }
    .scrollBtn{
        @include m.scrollBtn;
    }
    
}