@use "./../library/mixins" as m;

main {
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 100px;
    @include m.desktop{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0;

    }
    .title{
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
        h2 {
            color: black;
            padding: 30px 0;
            font-size: 28px;
            font-weight: 700;
        }
    }
    .profile{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        gap: 10px;
        @include m.desktop{
            width: 50%;
            *{
                font-size: 12px;
            }
        }
        &__name{
            font-weight: bold;
            padding: 15px 0;
        }
        &__img{
            width: 80%;
            @include m.desktop{
                width: 40%;
                gap: 0;
            }
            img{
                width: 100%;
                border-radius: 50%;
                box-shadow: 0 0 40px rgba($color: #000000, $alpha: 0.5);
            }  
        }
        &__quote{
            display: flex;
            align-items: center;
            padding: 30px 35px;
            background-color: lightgray;
            border-radius: 5px;
            @include m.desktop{
                max-width: 70%;   
            }
            &__logo{
                i {
                    font-size: 40px;
                }
            }
            & p{
                font-size: 16px;
            }
           
        }
    }
    .scrollBtn{
        @include m.scrollBtn;
    }

}