


@mixin desktop {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin scrollBtn {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    a{
        i{
            font-size: 30px;
            font-weight: 700;
        }
    }
    
}